{% extends "pharmacies/base.html" %}

{% load static %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="edit-title"><h1>Editar Produto</h1></div>
<div class="edit-product-container">
    <form action="{% url 'pharmacies:edit_product' product_id=product.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar mudanças</button>
    <div class="return-btn">
        <a href="{% url 'pharmacies:products' %}">&leftarrow; Voltar para produtos</a>
    </div>
    </form>
</div>
{% endblock %}
